body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.App {
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: purple;

}

li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-family: Arial, sans-serif;
}

.list-body{
  font-family: sans-serif;
}

.button {
  background-color: #a94dff;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #1addff;
}



